link(href='/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='/css/main.css', rel='stylesheet')
script(src='/libs/jquery/dist/jquery.min.js')
meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no")
meta(name="format-detection" content="telephone=no")
script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
script(src='/js/signup.js')
link(rel="shortcut icon",href="/favicon.ico",type="image/x-icon")