.courseItem{
	position: relative;
}
.courseItem:hover .coursebox{
	display: block;
}
.coursebox{
	display: none;
	position: absolute;
	bottom: 0px;
	width:100%;
	left:0px;
	background: rgba(9,9,9,0.6);
	background-clip: content-box;
	padding:4px;
}
.coursebox h3{
	color:#fff;
	font-size: 16px;
	padding-left:1em;
}
.coursebox a{
	text-decoration: none;
	cursor: pointer;
	margin-left: 16px;
}